body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d6d296;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 2rem;
}

form {
  width: 40rem;
  margin: auto;
  background-color: #95b751;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
